[2019-09-01 08:47] torch2424 opened #1 "TODO"
* [ ] Make a Dope Markdown / Wasm Vs. ES6 Benchmark / Vs. Rust (maybe not rust?)
* [ ] Make a Dope README
* [ ] Get Feedback from the team

[2019-09-01 08:59] torch2424 commented on #1
For the Markdown parser, totally just port this: https://github.com/developit/snarkdown

We also need a regex engine :p

https://nickdrane.com/build-your-own-regex/

Other things to maybe "port":

https://github.com/aishikaty/tiny-mustache/blob/master/mustache.js

And for a typed array demo. Do a bit crusher where we pass the float PCM samples directly?

[2019-09-09 17:37] torch2424 opened #2 "Use the correct array getter functions for suppported types"
cc @MaxGraey

https://github.com/torch2424/asbind/commit/8b12462235f4dd2afea73205c913ef3e0450d782#r34993246

[2019-09-16 17:06] torch2424 opened #3 "Use == for string comparison"
https://github.com/torch2424/asbind/commit/ed5c2dc248b54e893f57ab5396761fc84a340a5c#r35091255

[2019-11-01 16:11] torch2424 opened #4 "Access parent object in .call ?"
[code]

Is there a prototype chain I can access from just my Function? 🤔 That way the call command can be cleaner?

And can I access the parent Asbind from this.prototype?

[2019-12-15 09:42] torch2424 opened #5 "Launch TODO"
* [x] Fix the bugs, and finish core of Markdown parser
* [x] Create a quick demo of the markdown parser, with a debouched input field and things, and links to asbind
* [x] Have console logs show the generated HTML from the assemblyscript module (show off binding imports)

* [x] Clean up API, make `new AsBind`, in which modules have instances.
* [x] Add [speculative execution](https://en.wikipedia.

[2019-12-18 19:21] torch2424 opened #6 "Check out Zwiterion"
showed in meeting 😄

[2019-12-18 19:41] torch2424 commented on #6
https://github.com/lastmjs/zwitterion

[2019-12-23 23:01] torch2424 commented on #5
Decided not to debounce, as we don't want to artifically make it feel slow :thinking:

[2019-12-26 08:45] torch2424 commented on #5
Boolean support? :thinking:

[2019-12-26 08:46] torch2424 commented on #5
Boolean support? :thinking:

[2019-12-27 09:23] torch2424 commented on #4
Closing this, as this was not possible per the old API design

[2019-12-27 09:23] #4 closed

[2019-12-27 09:24] torch2424 commented on #3
I think this was fixed in the markdown parser :smile:

[2019-12-27 09:24] #3 closed

[2019-12-27 09:24] torch2424 commented on #1
closing in favor of #5

[2019-12-27 09:24] #1 closed

[2020-01-04 02:21] torch2424 opened #7 "More Optimizations"
From @MaxGraey in the Assemblyscript slack:

btw about opts. You could significantly speedup interop here and similar places:
https://github.com/torch2424/as-bind/blob/master/lib/supported-ref-types.js#L128

just use wasmExports.__getFloat32Array(responseRef).slice() instead
`Float32Array.from(wasmExports.__getArray(responseRef))`
Sometimes you could even don’t use slice if that result will use im

[2020-01-04 03:31] torch2424 commented on #7
Oh this is actually a duplicate of #2 :joy:

[2020-01-04 03:31] #7 closed

[2020-01-04 03:47] #2 closed

[2020-01-04 06:21] torch2424 commented on #5
Medium article in drafts, Tweet is in my private discord channel :smile:

[2020-01-04 06:21] #5 closed

[2020-01-05 19:16] torch2424 opened #8 "Make as-bind Assembly Script Entry file a CLI option"
As mentioned by @jtenner on the slack:

you can instruct users to set as-bind as an entry point so they don't have to explicitly export * from "as-bind"

Put it in the cli options

This is how as2d does it

[2020-01-05 19:17] torch2424 opened #9 "Watch the AssemblyScript PR to remove .slice()"
Realtes to #2

This PR will make #2 .slice() no longer needed:

https://github.com/AssemblyScript/assemblyscript/pull/1047

[2020-01-05 20:35] jtenner commented on #8
[code]

[2020-01-05 20:35] jtenner commented on #8
Would you like me to submit a pull request tomorrow?

[2020-01-07 06:52] torch2424 opened #10 "Remove .slice(0) for strings"
Per: https://github.com/torch2424/as-bind/commit/0231aa27957e64b9756c8a0e1fe1c155f384b190

[2020-01-07 06:54] torch2424 commented on #8
@jtenner Thanks for the explanation! :smile:

And I'll go ahead and fix it in a little bit, as I want to launch the library tommorrow :+1: :smile: Thank you for the offer though!

[2020-01-07 09:00] #8 closed

[2020-01-07 09:00] #10 closed

[2020-01-15 19:51] torch2424 opened #12 "Show an example using a function passed into AssemblyScript using the importObject on the README"
Brought up by @jayphelps in https://github.com/AssemblyScript/meta/issues/19 . Was a bit unclear to them, thus, maybe should make it more prominent.

Thanks! 😄 👍

[2020-01-15 19:53] torch2424 commented on #12
Also, @jayphelps, if you don't mind taking a quick look:

Is this what you meant: https://github.com/torch2424/as-bind/blob/master/test/test.js#L185

It's a test that ensures AssemblyScript can call (From within AssemblyScript) a passed JS function, that receives a string passed by AssemblyScript.

[2020-01-15 20:05] jayphelps commented on #12
@torch2424 I don't think so.

My questions were about passing and receiving functions (in addition to actual closures) from and to both JS and AS both ways.

So as one example, somehow you could pass a JS function as an argument to an AS exported function.

[code]

[code]

The opposite eventually would be cool too, passing an AS function as an argument to a JS function that was imported.

Here's s

[2020-01-15 20:07] jayphelps commented on #12
Keep in mind I was merely curious if this interop was supported out of box, for my future reference. At the moment I don't have a blocking requirement on it, as I'm not yet using as-bind.

[2020-01-15 21:23] lastmjs opened #13 "Bound exports seem to be returning Wasm pointers"
I'm not sure if I'm doing this incorrectly, but as-bind doesn't seem to be returning the data types that I want, just the Wasm pointers are some other pointer is coming back:

In my AssemblyScript:

[code]
In my JavaScript (not exactly my source code as I'm working on integration with Zwitterion):

[code]

This logs `1888`, not `hello world`. Am I missing something with the API?

[2020-01-15 22:03] lastmjs commented on #13
I think I see the problem, I need to add this file as the entry point when compiling: ./node_modules/as-bind/lib/assembly/as-bind.ts

Hmmm...is there any way that requirement could be dropped?

[2020-01-15 23:09] lastmjs opened #14 "Imported JavaScript function always returning NaN"
I have an AssemblyScript import that looks like this:

[code]

`doSomething` is just a JavaScript function that returns a number. Whenever I use it in AssemblyScript and try to get the value back to JavaScript, it returns NaN.

[2020-01-16 00:32] torch2424 opened #15 "Add Asbind to the AssemblyScript Docs"
Got a 👍 from @dcodeIO during the AssemblyScript meeting:  https://github.com/AssemblyScript/meta/issues/19

Probably in the loader section 😄

[2020-01-16 06:18] lastmjs commented on #6
I just added support for as-bind to the latest version of Zwitterion. I mention as-bind in the documentation: https://github.com/lastmjs/zwitterion#assemblyscript

[2020-01-17 00:55] torch2424 commented on #13
Ah yes! It is a requirement and covered on the quick start in the README. 😄 I should figure out how to make that more apparent (throw a warning or error in the JS lib if we notice it wasn't added? 🤔 )

Unfortunately no. So by default, AssemblyScript will export some of the Class IDs, but not all of them (For example, most typed array classes are not exported by default). Therefore, we need to expo

[2020-01-17 00:57] torch2424 commented on #14
Ah yes, this is not currently supported, and shown as not supported in the compatibility table on the README.

I told myself if someone opens an issue, I'd look more into how I can support this. But since you opened the issue, I think the time is now haha! 😂 Thank you for this! 😄

[2020-01-17 00:58] torch2424 commented on #6
Ohhhhh! Thank you sooo much @lastmjs Stoked this library can help out your project/users as well 😄

I opened this issue for myself, so I can make some more demos with Zwiterion. Since it's a side project, thought it'd be cool to be able to make a new demo, and learn your tool. (Two birds, one stone haha!)

[2020-01-18 00:10] torch2424 opened #16 "Take a look at pulldown-cmark"
https://github.com/tschneidereit/pulldown-cmark-wasm

Would be interesting to benchmark (as in a meaningless benchmark. This benchmark with not be a fair comparison by any means). As I am curious to see how a JIT'd JS markdown compiler, would compare to a much better, predictably performant, wasm compiler.

[2020-01-19 06:57] torch2424 opened #17 "Support passing Closures (Callback Functions) between JS and AssemblyScript"
Thanks to @jayphelps for pointing this out! :smile:

See there awesome explanation at: https://github.com/torch2424/as-bind/issues/12#issuecomment-574833762

[2020-01-19 06:58] torch2424 commented on #12
@jayphelps Ahhh, thanks for expanding on that! Yes, currently that is not supported. So I opened an issue at: https://github.com/torch2424/as-bind/issues/17

Though, I'll keep this issue open with it's original intent, as I still think it'd be good to show an example of this :smile:

[2020-01-19 07:39] torch2424 opened #19 "Add console warnings if we detect that the AssemblyScript module wasn't built with the as-bind entry file"
This would help with a common issue I forsee. If we see more issues opened like #13 . Let's do this. Otherwise, let's save the bytes here and not `console.warn` for now :smile: :+1:

[2020-01-19 07:39] #12 closed

[2020-01-19 07:39] #13 closed

[2020-01-19 07:39] #14 closed

[2020-01-19 08:22] torch2424 commented on #16
So I got a cool little benchmark demo working on the branch: `0.1.3-wasm-benchmark`

![Screenshot from 2020-01-19 00-19-31](https://user-images.githubusercontent.com/1448289/72677440-60dbc900-3a51-11ea-82a9-7a9358d0a8bc.png)

So it seems that pulldown-cmark stays consistently fast, where as our grows as the length of the input grows. **Again, this is not a comparison of rust vs. AssemblyScript, th

[2020-01-19 08:22] torch2424 commented on #16
Closing this issue....

Anyone who comes across this, totally feel free to ask questions!

P.S I forked pulldown-cmark to test this and make it easy to install for this project: https://github.com/torch2424/pulldown-cmark-wasm

[2020-01-19 08:23] #16 closed

[2020-01-30 01:35] dcodeIO opened #20 "Deriving typed array ids from RTTI"
This is a little idea to get rid of the requirement to specify an additional entry file.

Instead of exporting the IDs, it is also possible to obtain these [from RTTI](https://github.com/AssemblyScript/assemblyscript/blob/master/std/assembly/shared/typeinfo.ts), which is located in static memory at `exports.__rtti_base`. RTTI is somewhat limited, but as-bind's currently supported types fit it well

[2020-01-30 03:24] dcodeIO commented on #20
Attempted to make a PR for it, but it seems the change has unforeseen consequences on other parts of as-bind that I do not yet understand. In case it's useful, here's a little [snippet of the RTTI part](https://gist.github.com/dcodeIO/a32743b9181a39be9a455e282485a18d) :)

[2020-02-02 09:04] torch2424 commented on #20
Oops! I just saw this! My apologies @dcodeIO ! :upside_down_face:

So thanks for explaining this, and how it would work! So the thing about the entry file, is I eventually had plans for allowing users to pass closures, and things like creating their own classes and attempting to pass those back and forth. Thus we'd probably still need the entry file for those use cases? :thinking:

And I'll take a

[2020-02-08 03:20] dcodeIO commented on #20
Yeah, I guess we'll need some sort of code generation on the Wasm side eventually, though I imagine that this will then involve a transform of sorts to identify the stuff that must be exposed, essentially reducing what a user has to specify to `--transform as-bind`, implicitly adding a (generated) entry file. Not sure if the ability to add an entry (not just a library) file is in place, but if it

[2020-02-09 22:34] torch2424 commented on #20
@dcodeIO So in my head (heaven't actually tried it yet), I was hoping to have some helpers in the entry file, to help facilitate these use cases. Since, currently I think the `idof` with a custom class should work. So as long as I had a helper that exposed the class Id or something, I though that would work? But again, haven't tried it, and it's a half-formed idea :joy:

That being said, maybe it

[2020-02-11 11:58] dcodeIO commented on #20
When it comes to classes stuff becomes a bit more complex, yeah. The recommended way as of today isn't exactly ideal, which is to export the classes one needs to instantiate / work with externally from the entry file. There's a little undocumented (and potentially very useful) feature atm that exports the class id as the name of the class for instance, so in

[code]

one gets the exports

* **MyCl

[2020-02-11 18:43] YPetremann opened #22 "provide AsBind.instantiateSync"
It should be really interesting to have a way of using AsBind synchronously, could simplify integration with tests and other things without the hasle of handling all the asynchronous things.

Here is what I do:
[code]
[code]
Here is what I expect to do:
[code]
[code]

[2020-02-12 08:25] torch2424 commented on #20
Ah,

So creating classes externally was something I was thinking of doing later, had no clue that was already semi-supported, thank you! :smile: :+1:

I was thinking of doing something like this:

Let's just say (for wasmboy for an example, not something I want to do), I want to return a "Save State" object from the module. For example,

**AssemblyScript:**
[code]

Then in my JavaScript I could in

[2020-02-12 08:32] torch2424 commented on #22
@YPetremann Ah, thank you very much for this issue!

Totally, the reason why i didn't add this, was because [instantiate is not the most efficient way of instantiation of wasm modules](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiate). And I thought of it as a bit of "bad practice", and didn't want to encourage that. That being said, I did no

[2020-02-12 08:38] dcodeIO commented on #20
Regarding the example, the equivalent of what one could do currently with just the loader is:

[code]

[code]

Not sure how helpful this is, but yeah, somewhat supported already, just not really convenient :). Mostly because the properties of classes made by the loader still have pointer fields, and don't translate these to objects implicitly but require either `.wrap` for classes or the runtime h

[2020-02-16 08:03] torch2424 commented on #20
Oh! @dcodeIO  thank you so much! :smile: When I get the time, I'll totally go and implement this! :smile: :+1:

Yeah the only thing that I'd really have to do is document that the class needs to be exported, or else it won't work.

That being said, going back to the original issue. If this won't be a problem without an entry file. I'll probably just release the next major / minor without the entry

[2020-02-16 08:30] #22 closed

[2020-02-16 08:33] torch2424 commented on #22
Pushed in 0.1.4 :smile: :+1:

[2020-02-22 09:12] darky opened #24 "Support assemblyscript 0.9.x"
[code]

[code]

0.8.x version fine

[2020-02-23 21:54] torch2424 commented on #24
@darky Thank you for the heads up! Didn't know this broke with the new version, will look into this today :smile:

[2020-02-23 22:03] torch2424 opened #25 "Create a table for as-bind version to AssemblyScript version"
per #24

Seems like as-bind can get out of sync with AssemblyScript while it is still pre 1.0.0. Let's create a markdown table of as-bind minor, to appropriate assemblyscript minor :smile:

[2020-02-24 00:35] #24 closed

[2020-02-24 00:39] torch2424 commented on #24
@darky This is now live in as-bind 0.2.0. Thank you for the heads up! :smile: :+1:

[2020-03-26 06:59] aminya opened #28 "Incorrect result in normal `for` loop [Question]"
I am trying to build this function, but its result is always 0. What am I doing wrong? The readme doesn't help in using arrays.

wasm.ts
[code]
asbind_loader.ts:
[code]
index.ts
[code]

scripts commands:
[code]

[2020-04-01 08:48] torch2424 commented on #28
Hello! Again, per my comment on #27 , I just saw this, got buried in Github notifications :cry:

But! Super happy to help you out! :smile:

Hmm, so my initial though is that [BigInt for Javascript / Wasm](https://github.com/WebAssembly/JS-BigInt-integration) is still in progress, thus, passing back 64 bit integers may not work :thinking: But I wrote a test, and it seems to work for me?

So this to

[2020-04-01 08:59] torch2424 opened #30 "Investigate TODO from #29"
Found a weird memory / reference race condition thingy in the tests. Probably worth doing some more investigating. As it seems to work fine in CI, but was acting up on my machine :thinking:

[2020-04-01 09:01] #28 closed

[2020-04-02 07:59] aminya commented on #28
Thank you for the response! I think it is beneficial to have more examples in the whole AssemblyScript handbook (starting by the examples taken from the tests). Similar to this documentation for Julia langugea: https://docs.julialang.org/en/v1/base/arrays/#Basic-functions-1.

Each function and data type should have at least an example! The examples can be very simple. For example, using different

[2020-04-03 00:19] torch2424 commented on #28
@aminya

You are welcome! :smile: :tada:

Ah so I totally agree! I created: [WasmByExample](https://wasmbyexample.dev/?programmingLanguage=assemblyscript) as like a way to learn how to accomplish small tasks by example. Albeit, it doesn't have an example for every global / feature in the AS stdlib. I think it's a good start :smile:

That being said, I build as-bind, because I thought it'd probably

[2020-04-16 01:43] torch2424 opened #31 "Add IIFE Example to Docs"
As the title states :smile:

[2020-04-16 06:19] #31 closed

[2020-04-20 17:52] torch2424 commented on #15
Oh this was done already :smile: :+1:

[2020-04-20 17:52] #15 closed

[2020-05-19 12:55] jfuehner opened #36 "import {AsBind} undefined with webpack?"
Hi! I'm new to trying to use as-bind with assemblyscript. I followed the [installation instructions](https://github.com/torch2424/as-bind#installation) however when I try and run my javascript I'm receiving `AsBind` as undefined...

I have defined the `import {AsBind} from "as-bind";` within my javascript. Additionally, I have even tried using `const {AsBind} = require("as-bind");` with both produ

[2020-05-19 21:46] torch2424 commented on #36
@jfuehner Thank you very much for the issue!

So did some investigation, and was able to reproduce, this appears to be a debated bug in how webpack handles the "browser" field: https://github.com/webpack/webpack/issues/4674

I'll go ahead an open a PR to fix this now :smile:

[2020-05-19 21:48] #36 closed

[2020-05-19 21:56] torch2424 commented on #36
Fixed in `0.3.4` :smile: :+1:

[2020-07-25 21:39] aminya commented on #28
@torch2424 I am getting this error, tying my example in this new version:
[code]

[2020-07-25 22:38] torch2424 commented on #28
Hello @aminya ! :smile: Thanks for bringing this up. Could you provide the code that is causing this error? Thanks! :smile:

[2020-07-30 21:21] aminya commented on #28
Hi @torch2424! Thank you for helping! This is my code:

asbind_loader
[code]

index.ts
[code]

assembly/index.ts
[code]

[2020-07-31 19:09] JamesLMilner opened #43 "Hello World example appears to return number"
Hey @torch2424, hope you're good! I was just playing around with the hello world example and noticed it was return an integer instead of a string.

For example if I compile:

[code]

Then in Node run:

[code]

I'm getting a numeric response like `2944`. Is there a possibility it's returning the memory pointer by any chance? Running latest as-bind and assemblyscript npm modules currently.

I could

[2020-08-01 01:01] torch2424 commented on #28
@aminya Awesome! Thanks for sharing that! :smile:

So would you happen to have a place where I could build and run the code as well? As I see you are importing a module: `import { Chance } from "chance"`. And I am unsure what it is or what it does.

As these lines:

[code]

I expect something is up here. As the value passed to a typedArray is the size of the array: https://developer.mozilla.org/en

[2020-08-01 01:05] torch2424 commented on #43
@JamesLMilner Hello! Oh that's super odd! Yeah that is most likely a memory pointer unfortunately :cry: It looks like you are doing everything right on first glance, I'll do some debugging on my end and see if it's a library issue or not.

Thanks again for reporting this! :smile:

[2020-08-01 01:36] aminya commented on #28
I was cleaning up the example to upload it for you that I discovered that I was calling the wrong build command!

Calling asc_optimized instead of asc_asbind
[code]

🤦‍♂️

[2020-08-01 03:54] torch2424 commented on #28
@aminya Oh haha! Well glad it got figured out! :joy: :smile:

[2020-08-01 05:38] aminya commented on #28
Yes! I wish we can find a way to detect this miscall and throw a better warning 😄! I was stuck in this for a week or so.

[2020-08-02 01:42] torch2424 opened #44 "Add better handling when the asbind isn't added as an entrypoint"
Per: https://github.com/torch2424/as-bind/issues/28#issuecomment-663908928

Seems the entry stems from not being able to find the array ID because it wasn't added :smile:

[2020-08-02 01:43] torch2424 commented on #28
Oh I could totally add an error for that. Opened #44

[2020-08-02 01:57] torch2424 commented on #43
@JamesLMilner So I tried to reproduce the bug and it doesn't seem to be replicated? https://github.com/torch2424/as-bind/blob/issue-43/test/assembly/test.ts#L14

I know it depends on like how the runtime assigns pointers, but it seems to be working though? :thinking:

If I may ask, what's your AsBind, AsemblYScript, and AssemblyScript loader version? :smile:

[2020-08-03 22:42] aminya commented on #20
+1 for this feature. From this example, I can see that it adds support for classes!
https://github.com/torch2424/as-bind/issues/20#issuecomment-585088074

[2020-08-06 21:24] JamesLMilner commented on #43
Hi @torch2424 sorry for taking a little while to reply about this.

[code]

[2020-08-06 21:35] JamesLMilner commented on #43
[as-bind-bug.zip](https://github.com/torch2424/as-bind/files/5038122/as-bind-bug.zip)

Here's a zip file, you can run `node index.js` and I am seeing a integer log out there.

[2020-08-06 22:23] torch2424 commented on #43
Thank you for this @JamesLMilner ! :smile: I'll check this out! :smile:

[2020-08-06 23:03] torch2424 commented on #43
Ah! I found the issue, your build scripts were:

![Screenshot from 2020-08-06 16-00-46](https://user-images.githubusercontent.com/1448289/89591034-04c66f80-d7fe-11ea-91a2-2d6761de54c3.png)

But, you need to add the as-bind entry point to your build script, [it's mentioned in the quick start](https://github.com/torch2424/as-bind#quick-start). I was trying to save some bytes in the library, and just

[2020-08-06 23:10] JamesLMilner commented on #43
@torch2424 ah my bad! Apologies for missing that as it was quite clearly in the documention. Ironically this is the second time I've played around with as-bind so I must have done it the first time and just forgot!

Thanks for taking the time to have a look, appreciate your patience for such a basic issue!

[2020-08-06 23:10] #43 closed

[2020-08-06 23:14] torch2424 commented on #43
No worries at all @JamesLMilner ! :smile: It's also on me, something I am trying to learn is how to make important things stand out when you skim docs :smile:

But I'm writing up a quick check now to avoid this for others in the future :smile:

[2020-08-06 23:32] #44 closed

[2020-10-07 18:45] torch2424 opened #46 "How to add more types / plans going forward"
Was chatting in the AS discord about AS bind, and figured this would be good to document in an issue as well :smile:

---

1. Identify the data id in: https://github.com/torch2424/as-bind/blob/master/lib/assembly/as-bind.ts#L15
2. Pull the data out of linear memory by it's layout: https://www.assemblyscript.org/interoperability.html#class-layout or https://www.assemblyscript.org/memory.html#intern

[2020-10-07 21:19] letmaik opened #47 "Allow to access typed arrays by reference instead of copy"
Returning a typed array from AS to JS seems to make a copy of it. However, I'd like to obtain a view on the same underlying ArrayBuffer.  Looks like `.slice()` is responsible for the copy: https://github.com/torch2424/as-bind/blob/9ab3ece19866cf8681b9c9d447d37354bfbe7929/lib/asbind-instance/supported-ref-types.js#L29

[2020-10-07 23:20] torch2424 commented on #47
Ah! Thanks for bringing this up. Yeah currently we are copying because of the context in: #9

But looking at https://github.com/AssemblyScript/assemblyscript/pull/1047. I'm not too sure if this would introduce breaking changes.

cc @MaxGraey , do you happen to know if the removing these `.slice()` calls would be safe to use `__getXXArrayView`? :thinking:

[2020-10-07 23:22] torch2424 commented on #47
Also, I don't want to slow you down @letmaik , if your comfortable, AsBind essentially wraps around the [AS loader](https://www.assemblyscript.org/loader.html#loader), and makes it more convenient. I don't know what project you are working on, but if you don't mind getting a bit more lower level with passing types around, feel free to check that out as well because then you can choose between copy

[2020-10-07 23:28] MaxGraey commented on #47
`__getXXArrayView` just create view representation to some range in linear memory. So it's really cheap and don't copy any data, but it unsafe due to array buffer (`memory.buffer`) may detached after any other call from assemblyscript side which use heap, so much better copy it. That's what do `__getXXArray` functions. Its just the same as `__getXXArrayView(...).slice()`. You could use `__getXXArr

[2020-10-07 23:32] MaxGraey commented on #47
[code]

This redundant. It should be just `wasmExports.__getInt8Array()` or `wasmExports.__getInt8ArrayView(responseRef).slice()`

[2020-10-08 10:03] letmaik commented on #47
This is for a hobby project, basically my first emulator (for a simple system to start with, CHIP-8), and I'd like to use AS because it seems really nice :) So there's definitely no urgency here but I'd like to do it the proper way as if it was a performance-critical piece of code, while also staying as high-level as possible. That's why I'm looking at as-bind to remove the nasty details at the bo

[2020-10-08 10:16] MaxGraey commented on #47
using `__getXXArrayView` for long lifetime defenitely unsafe, but if you have something like this:
[code]
It could work properly.

But if `pureJSProcessing` for example call some other or the same wasm method which could potentially alloc or dealloc memory in heap it may cause to detouched arraybuffer or invalid data associated to this arraybuffer.

I hope this is clearer now =)

[2020-10-08 19:30] letmaik commented on #47
I found a description of the same issue here: https://github.com/emscripten-core/emscripten/issues/6747

I think as-bind should allow to get an unsafe view on array buffers. This could be opt-in by setting some config option similar to the type caching option:

[code]

The docs should mention that by default a copy is returned, but advanced users can opt in to get a view instead, together with all

[2020-10-09 17:44] torch2424 commented on #47
@MaxGraey

Ah for sure! Thanks for catching that! Yeah I remember we used to need it for some reason :thinking:

Thank you for clarifying! Yeah I remember bumping into this a while back, but then we fixed it in the loader :smile:

---

@letmaik

Oh nice! Yeah emulators are fun! That's super awesome! :smile: :tada:

Yeah, so we can totally add this option on functions, I think it'd work! Though, I'

[2020-10-09 22:44] #9 closed

[2020-10-09 22:44] #47 closed

[2020-10-09 22:47] torch2424 commented on #47
@letmaik

Should be live in `0.4.1` :smile: Docs are there on the README on how to use it :smile: :tada:

[2020-10-10 13:27] letmaik opened #49 "TS7016: Could not find a declaration file for module 'as-bind'"
I'm trying to use as-bind from typescript but it looks like the location of the typings file in as-bind is non-standard, and there's also no `"types"` field for it in package.json.

[code]

[2020-10-10 13:59] letmaik commented on #47
@torch2424 Great! Just out of curiosity, why does it return the ptr and the array? What can you do with the ptr?

[2020-10-11 00:32] torch2424 commented on #47
@letmaik Yay! Glad it's working for you!

I returned them both for a few reasons:

1. So it is more obvious that it's returning the unsafe version. I figured it'd be a lot easier to debug if the flag got set somewhere by accident, and then someone else calls the function, expecting it to copy.

2. Since you have bi-directional view into Wasm memory, if you want to modify the array, it'd maybe be h

[2020-10-12 16:59] torch2424 commented on #49
Ah! So I wrote Asbind as a normal JS library, so i unfortunately don't have a typings for AsBind :cry:

If I'm not mistaken, this would would require a rewrite in TypeScript correct? :thinking: Or, we could just throw together a typings on top of the JS library?

[2020-10-12 19:07] letmaik commented on #49
You already produce typings, in `dist/as-bind.d.ts`, but they are not referenced in package.json. I think that's the only thing missing!

[2020-10-12 19:52] letmaik opened #50 "u16 buggy"
I got a function that I want to export:
[code]
If I access that function directly through unboundExports it works, but through as-bind it tries to interpret it as a string for some reason: `Uncaught Error: not a string: 516`.

u8 is working btw.

[2020-10-14 23:34] torch2424 commented on #49
Ohhhhh! Okay cool I can open a PR for that :smile: I'll do that real quick :smile: :+1:

[2020-10-14 23:40] torch2424 commented on #50
@letmaik Do you happen to know what the returned value is? :thinking: Or is it `516`?

Maybe it's possible the value you are returning just happens to serendipitously match up with a string in memory?

cc @MaxGraey , do you happen to know if returned values can happened to be interpreted as pointers by the loader? :thinking:

[2020-10-14 23:40] #49 closed

[2020-10-14 23:52] torch2424 commented on #49
Released in 0.4.2 :smile:

[2020-10-15 00:05] MaxGraey commented on #50
Loader never try to guessing types. If you call `exports.foo()` it return number, if you wrap it to `exports.__getString(exports.foo())` loader will interpret returned version of `foo` as pointer. In WebAssembly all passing values if actually doubles (f64), and we haven't any tagged values something like this. `loader` is just collection of glue functions + name demangling.

[2020-10-15 07:52] letmaik commented on #49
Just tried it but looks like the types file itself is incorrect :/ Trying to use it you get "AsBind' only refers to a type, but is being used as a value here."

[2020-10-15 07:54] letmaik commented on #50
@torch2424 The value that's supposed to be returned is 516.

[2020-10-15 17:52] torch2424 commented on #49
@letmaik Ah. Well, I'm not too familiar with how typings file works, in terms of writing them by hand :hushed: Would you be open to opening a PR for this? :smile: :+1:

[2020-10-15 17:58] torch2424 commented on #50
@MaxGraey

Ah! My apologies, I guess I am referring to the runtimes `__instanceof` perhaps than: https://github.com/torch2424/as-bind/blob/master/lib/asbind-instance/supported-ref-types.js#L14 .

On second thought, this probably is possible because if you happen to have a string allocated at that pointer being returned, than this could return true @MaxGraey ? :thinking:

If so, I'll update the doc

[2020-10-15 18:05] MaxGraey commented on #50
Now I see. So yes, in this case it could be false positive determined as string. For example `foo(): u16` in theory may return same number as pointer of some string in memory. So checking this via dynamic `instanceof` has no grantees

[2020-10-19 18:51] torch2424 commented on #50
@MaxGraey Ahhhh! Well that's not good haha! :joy:

Could you point me to where this is done? Since we have the as-bind entryfile, I could probably do some type of hinting hopefully, or provide some type of import so that they can hint on the AS side what is being returned.

Otherwise, I think I can introduce a "force type" function or something. Which I think would make the API less clean. But! Si

[2020-10-19 18:56] MaxGraey commented on #50
It's better ask to @dcodeIO

[2020-10-19 19:38] dcodeIO commented on #50
The compiler knows the types of each value flowing around and only accesses the managed object header, and the runtime id within, when it knows that something is a managed object. That's about what `isManaged<T>()` checks for. I guess ideally we'd go into the direction of some sort of as-bindgen, generating JS glue code utilizing the type information the compiler has.

[2020-10-20 00:02] torch2424 commented on #50
Thanks for the insight @MaxGraey @dcodeIO :smile:

Cool, in the meantime while we work on the as-bindgen thing, I'll go ahead and allow forcing a type :smile:

Probably will do something like:

`asBindInstance.exports.myExportedFunction.returnType = AsBind.TYPES.NUMBER`

:smile: :+1:

[2020-11-04 23:40] kevin-lindsay-1 opened #52 "lib/as-bind.d.ts doesn't match signature of lib/lib.js"
Looks like the `.d.ts` only exports an interface, not a constant, and as a result `AsBind` gets the dreaded red squiggly when you try to use it as a value.

[2020-11-05 02:04] tyronedougherty opened #53 "Error using IIFE AsBind"
Hi there,

I've run into the following error whenever I try to use the `AsBindIIFE.AsBind.instantiate` function:

[code]

Any idea what the issue is? I've tried setting the runtime like so in my `package.json`:

[code]

But that seems to have had no effect.

[2020-11-06 20:18] torch2424 commented on #52
Ah! Thanks for opening this issue! :smile: Ah yeah, this was brought up by someone else recently, but I haven't had the chance to update the typings file.

Feel free to open a PR in the meantime, or I can get to it once I get the time :smile: :+1:

[2020-11-06 20:23] torch2424 commented on #53
Hello! Thank you for the issue! :smile:

Hmmm I think this issue is coming from the [AssemblyScript loader](https://www.assemblyscript.org/loader.html#loader).

cc @dcodeIO or @MaxGraey , do either of you know why this might be?

---

In the meantime, does compiling your AssemblyScript module without `--target debug` work? :thinking:

[2020-11-06 20:31] MaxGraey commented on #53
I ussume you should update how loader imported according this: https://github.com/AssemblyScript/assemblyscript/pull/1513

[2020-11-10 01:00] torch2424 commented on #53
Ah! It broke under me, cool I can fix this tomorrow, along with #50 :smile:

Thanks @MaxGraey ! :+1:

[2020-11-10 01:58] tyronedougherty commented on #53
Thanks @torch2424 😄

[2020-11-11 01:01] torch2424 opened #56 "Port as-bind to TypeScript"
related to #52
related to #41

We've had some issues with the typings. But all in all, it'd probably just be better to port everything to typescript for the type garuntees, and then just upload the TypeScript Source and things. :smile:

In the meantime we will just commit the Typings sin to get things working in TypeScript projects :cry: (PRs welcome for a proper typings file! :smile: ) : https://

[2020-11-11 01:08] #50 closed

[2020-11-11 01:21] #53 closed

[2020-11-11 01:24] #52 closed

[2020-11-11 01:33] torch2424 commented on #50
Fixed and published in `0.5.0` :smile:

Like I mentioned, I added a `returnType` property for forcing the return type for bound export functions, and then recommended it's usage for production applications :smile:

[2020-11-11 01:34] torch2424 commented on #52
Fixed and published in 0.5.0 :smile:

Unfortunately, I just exported an `any` for now to stop the "red squiggly", but I opened #56 as I think the library should just be written in TypeScript anyways :upside_down_face:

[2020-11-11 01:34] torch2424 commented on #53
Fixed and published in 0.5.0 :smile:

[2020-12-03 08:08] trusktr commented on #17
Besides passing callbacks from JS to TS, the other way around would be useful. For example, then we could allow a user who is writing AS code to run things like `requestAnimationFrame(someFunc)` inside of AS to control an animation loop.

[2021-02-09 18:23] ghalimi opened #60 "Migration to AS v0.18"
Are there any plans to migrate to AssemblyScript v0.18?

Our initial attempts tend to indicate that backward compatibility was lost then.

[2021-02-09 19:29] torch2424 commented on #60
@ghalimi Hello, thanks for opening this issue! :smile:

Yes! I was definitely planning on migrating to AS 0.18. I just haven't had the time yet. I'll try and take a look at this in the next day or two! :+1:

[2021-02-09 20:26] torch2424 commented on #60
Just kidding, opening a PR now and publishing a new version :smile: :tada:

[2021-02-09 21:45] Y-- commented on #60
Thanks for the quick response @torch2424! Let us know if/how we can help :-)

[2021-02-09 22:01] ghalimi commented on #60
@torch2424 You rock!

[2021-02-09 22:35] #60 closed

[2021-02-09 22:39] torch2424 commented on #60
@Y-- @ghalimi

Thank you for the kind words haha! :smile:

I was waiting for travis to run, and then go pulled into a meeting. :upside_down_face:

But! I just deployed this in `0.6.0`, let me know if it works for y'all! :smile:

[2021-02-10 16:31] Y-- opened #62 "Handle AssemblyScript's typed Array syntax"
Hi!

Thanks again for this great project!

I was playing with some AssemblyScript code and was surprised by the difference between `i8[]` and `Int8Array`.

For example, let's say I have:
[code]

Then when I execute it like this:
[code]
I get unrelated numbers like `44381`.

Now, I'm not very familiar with AssemblyScript so I am not sure if this should simply be forbidden (explicit runtime error?)

[2021-02-10 20:11] torch2424 commented on #62
Hello!

You are welcome! Glad that you are enjoying using it! :smile:

Ah! So yeah I noticed you are using an [array of a number type](https://www.assemblyscript.org/stdlib/array.html#array), vs. a [TypedArray](https://www.assemblyscript.org/stdlib/typedarray.html#typedarray).

So, if I'm not mistaken, an Array in JS / AS is more of a dictionary-like list object, whereas a TypedArray is a specific

[2021-02-10 20:19] Y-- commented on #62
That makes total sense indeed, thanks for the clarification on the semantics!

I was wondering if there was a way to explicitly raise an error when one tries to call a function that declares an `array of a number type` as an argument with a `TypedArray` input (and the other way around)?

[2021-02-10 20:25] torch2424 commented on #62
You are welcome! :smile:

Ah! That's a good idea for the interem. As this seems to be a common hiccup people experience, for example #28 . Adding an error for unsupported types until we support them would be great! Let's keep this issue open so we can implement that :smile:

[2021-02-10 21:28] Y-- commented on #62
Excellent! Thanks!
I'm happy to give it a shot. Is there a way to do reflection on a function's arguments in AssemblyScript?
Or were you thinking of some other way to implement this?

[2021-02-10 22:49] torch2424 commented on #62
@Y-- Oh yay! Thank you for wanting to pick this one up! :smile:

So I'm not too sure about the reflection, but I'm sure @dcodeIO or @MaxGraey would know :)

And the way I would have implemented it, was to add `export const i32a_ID = idof<i32[]>();` to the entryfile. And if the ID in memory for the object doesn't match the one we expect (Similar to how the [loader verifies if an object is a string]

[2021-02-12 01:05] torch2424 opened #63 "Look into handling Class constructors"
Per a discussion in the AssemblyScript slack, it seems like there is some weird behavior with contstructors. Particularly how they are bound when creating the ASBind instance. (The discussion is in the help channel in the AS Discord)

Thanks for the investigation @battlelinegames ! :smile:

[2021-02-15 21:46] trusktr opened #64 "feature request: pass arbitrary functions (not just exports) from AS to JS."
Use case:

We want to make, for example, a `requestAnimationFrame` function and pass that into Wasm via the imports object.

The AssemblyScript user should be able to dynamically create and pass any callback to this function.

So on the JavaScript side, it would be something like:

[code]

Problem is, at the moment, `assemblyscriptFunction` is an AssemblyScript pointer number. So the above won't w

[2021-02-16 20:29] torch2424 opened #65 "Add support for Array<T>"
It's been requested by a few users, and there was some discussion in the AssemblyScript repo. I think it shouldn't be too hard to add, so let's go ahead and add support for it.

[2021-02-16 20:31] torch2424 commented on #65
A user got this working on their end! :smile: :tada: https://twitter.com/ghalimi/status/1361625480894373888

[2021-02-18 19:38] torch2424 opened #67 "Find a better way to transpose the type table in the README"
https://github.com/torch2424/as-bind/pull/66#issuecomment-780884088

[2021-02-18 19:40] torch2424 commented on #65
closed by #66

[2021-02-18 19:40] #65 closed

[2021-02-18 20:07] torch2424 commented on #62
closed by #66 :smile: :tada:

[2021-02-18 20:22] Y-- commented on #62
@torch2424 I think this issue remains: there is still no compatibility between an `array of a number type` as an argument with a `TypedArray` input (and the other way around). We unfortunately haven't have time to work on it yet, but I still think it is relevant.
I just rebased the branch and the tests are still failing the same way :-)

[2021-02-18 20:24] torch2424 commented on #62
Oops! My apologies, I'll re-open than! :smile:

[2021-03-06 17:42] surma opened #69 "as-bind seems to not be able to handle proxies?"
I’m not 100% sure I dug out the very core issue here, but I put a sufficiently minimal [repro in a gist](https://gist.github.com/surma/7cc043d26c56915a37dd79110e5d783c), which will hopefully help analyze the bug.

I import a function which takes a `string` as a parameter, which is working fine with `as-bind`. However, some of my functions rely on `this` being the object the imported function is de

[2021-03-15 19:16] torch2424 commented on #69
@surma Thank you for the issue! So I took a look at this by:

* Downloading your source
* Importing as-bind from `lib/lib.js` directly
* Added some logging in as-bind

And I was able to figure out, it seems like the proxy skips or overrides the `bindImportFunction` that AsBind does: https://github.com/torch2424/as-bind/blob/master/lib/asbind-instance/bind-function.js#L7

![Screenshot from 2021-03-

[2021-03-20 20:02] piotr-oles opened #72 "Add links to as-loader package"
Hi! 👋🏻
In the last few weeks, I was working on the [as-loader](https://github.com/piotr-oles/as-loader) package (loader for webpack).
It has built-in support for as-bind and has a similar goal to achieve - improve DX with AssemblyScript. I will not advertise the as-loader more, you can read in REAMDE.md what features it provides 😄
Could we add some links in the docs to point other developers to th

[2021-03-22 19:08] torch2424 commented on #72
Oh yeah definitely! I would be super happy to place this on the README! :smile:

We have a section on the README for projects using as-bind: https://github.com/torch2424/as-bind#projects-using-as-bind So if you could open a PR, I'd be more than happy to merge it in! :smile:

Thanks!

[2021-03-23 18:23] #72 closed

[2021-05-03 15:20] FGasper opened #79 "RFE: Document the metadata format"
This library looks awesome!

For interop purposes, I wonder if it’s stable enough that the actual metadata format could be documented? It looks simple enough …

[2021-05-04 00:39] torch2424 commented on #79
@FGasper Hello!

Yay! Glad it looks cool haha! :smile:

Ah! Could you expand on this? By metadata, do you mean like how things are formatted in WebAssembly linear memory?

If so, really this library is just using the AssemblyScript loader for you. So if you'd like to see how AssemblyScript data structures are represented, I'd take a look at: https://www.assemblyscript.org/loader.html#installation

[2021-05-04 11:20] FGasper commented on #79
I‘m talking about the JSON structure you’re storing in the module’s custom storage. That’s an artifact specifically of as-bind, right? And that’s what you read to determine when, e.g., an i32 is actually a string?

[2021-05-06 18:41] torch2424 commented on #79
Ahhh! Yes, so it is an artifiact of as-bind. @surma worked on the refactor that included this new feature, so I'll let them expand on the format :smile:

In the meantime, feel free to take a look at the PR here where the refactor was done: https://github.com/torch2424/as-bind/pull/70

[2021-05-07 13:52] surma commented on #79
I was hoping that the format is fairly self-explanatory. You can grab the data of the section as follows:

[code]

`descriptor` is an object with 3 keys: `typeIds`, `importedFunctions`, and `exportedFunctions`. `typeIds` is a map from type names to an object containing the type’s numeric type and its size (needed to create allocations with that type using the runtime API). `importedFuntions` and `

[2021-05-07 17:21] surma commented on #79
I am happy to document it in a separate MD file, but I won’t make it part of the API contract — at least not yet. It’s something I just whipped up and it needs more testing to see whether it’s sufficient (e.g. I have plans to add support for custom types, and I am not 100% confident the current type info is sufficient).

[2021-05-07 17:59] FGasper commented on #79
That should suffice. We can probably deal with changes to the schema if they happen anyway. Hopefully at a later point it’ll be workable to make it part of the API.

Thank you!

[2021-05-13 00:51] torch2424 opened #80 "Using AsBind in Node can have some package resolution issues"
Taking a look at: https://nodejs.org/api/packages.html#packages_dual_commonjs_es_module_packages . Node has a better way of specifying CommonJS vs. ES Module loading.

Thanks for the helpful info @dcodeIO :smile:

[2021-05-27 12:29] takapiro99 opened #81 "The new version(0.7.0) doesn't work."
First of all, thank you for providing such a great library!

Nice work on the update to @0.7.0.
I realized that default export and some other features has changed.

I tried it on my local environment (Win10, node14, with asc) but it didn't work.
I'll just paste the error message...

[code]

in the js file, I was just calling as-bind like this;
[code]

Since I'm new to the WASM and AS, I have no id

[2021-05-27 12:30] takapiro99 commented on #81
Note: older version(v0.6.1) worked perfectly with me.

[2021-05-27 12:33] takapiro99 opened #82 "README is not keeping up with the new version(0.7.0)"
It is as the title says.

I think that people who see it may misunderstand that it doesn't work.

Would you be willing to fix this?

[2021-05-27 13:23] takapiro99 commented on #82
I took a closer look and found that around line77 should be fixed like this
[code]

This may an unrelated question, but is it intentional that this doesn't have a default export?

[2021-05-27 19:15] torch2424 commented on #81
Thanks for the issue! :smile:

cc @surma , what I think might be the issue, is that by default we are suggesting folks use `transform.cjs`, perhaps we should have them just use the direct transform, since I assume it wouldn't inflate code size or anything right? :smile:

[2021-05-28 01:56] torch2424 commented on #81
Hello @takapiro99 ! I just opened up #83 , which addresses both of the issues you opened. In the process of building this, I tried to do the use case here (Using the transform on node version 14), and it seems to work fine for me?

![Screenshot from 2021-05-27 18-54-55](https://user-images.githubusercontent.com/1448289/119918347-1c9dea00-bf1d-11eb-916b-146c76a3b41c.png)

Also, as @surma mentioned,

[2021-05-28 12:04] takapiro99 commented on #81
I was wrong about the WSL environment being mixed up, but with node 14, it worked! Thank you.

[2021-05-28 15:05] surma commented on #81
Cool. I’ll close this for now then :) Please re-open if you find there’s something else going wrong.

[2021-05-28 15:05] #81 closed

[2021-05-28 20:57] #82 closed

[2021-05-28 20:57] #80 closed

[2021-07-08 19:00] torch2424 opened #85 "Strings can get corrupted, due to them not being a Pinned GC Object"
From the AssemblyScript discord:

[code]

cc @surma , just FYI 😄

[2021-07-19 12:18] surma commented on #85
Oh super interesting! I didn’t know that strings need to get pinned. Kinda makes sense, but I guess I was in a JS mindset :D I’ll take see if I can whip up a test and fix this :)

[2021-07-19 15:09] surma commented on #85
Tried to build a repro on branch [`issue-85`](https://github.com/torch2424/as-bind/compare/issue-85), without success :(

[2021-07-19 17:03] RehkitzDev opened #86 "Does as-bind work with the newest assemblyscript version?"
When trying to install as-bind I get the following error:

[code]

It seems to look for @assemblyscript/loader@"0.18.x" . The current version is 0.19.7.

Steps to reproduce:

[code]

[2021-07-19 18:13] RehkitzDev commented on #85
repo to reproduce the error:
https://github.com/RehkitzDev/issue-85

[code]

The error only occurs when using untouched.wasm

I get the following output:
[code]

[2021-07-25 23:58] torch2424 commented on #86
Ah! Thanks for calling this out! Yeah we'll have to update the package.json, if I'm not mistaken 0.18 didn't have a bunch of memory layout changes to 0.19. so I can hopefully merge this in once I cut a release tomorrow with #87 😀🎉

[2021-07-26 18:54] #85 closed

[2021-07-26 19:43] #86 closed

[2021-07-26 21:35] torch2424 commented on #85
This is now published in: https://github.com/torch2424/as-bind/releases/tag/0.8.0

[2021-07-26 21:36] torch2424 commented on #86
This is now published in: https://github.com/torch2424/as-bind/releases/tag/0.8.0

[2021-08-12 03:12] deepkolos opened #91 "[Feature Request] add binding support for declare fucntion exported in a namespace"
[code]

[code]

[2021-08-12 18:22] torch2424 commented on #91
Totally, this is something we can look into @deepkolos ! 😄

If you can get to this before we can though, I'd by happy to review a PR! 👍🏾

[2021-08-13 08:10] deepkolos opened #93 "[Feature Request] add support for generic function"
[code]

[code]

[2021-08-13 09:03] deepkolos opened #94 "[Bug] Float32Array was bind to ArrayBuffer"
https://github.com/torch2424/as-bind/blob/master/lib/asbind-instance/type-converters.js#L136

[code]

[2021-08-16 03:51] deepkolos commented on #91
@torch2424 PR submitted

[2021-08-16 17:27] #94 closed

[2021-08-16 17:28] torch2424 commented on #91
Thank you for the PR! This was fixed by: https://github.com/torch2424/as-bind/pull/92

[2021-08-16 17:28] #91 closed

[2021-08-16 17:28] torch2424 commented on #93
@deepkolos Ah! Thank you for finding this bug! Would you be open to opening a PR for this one as well? 😄

[2021-08-17 19:18] torch2424 commented on #30
This should be no longer relevant, per the refactor 😄

[2021-08-17 19:18] #30 closed

[2021-09-01 07:55] Chris-Kin opened #97 "__getArray is not a function"
`Uncaught TypeError: t.exports.__getArray is not a function`

1. import * as loader from "./node_modules/as-bind/dist/as-bind.esm.js"; (0.8.2)
2.
[code]
3. get the error `as-bind.esm.js:1 Uncaught TypeError: t.exports.__getArray is not a function` in chrome.

[2021-09-01 07:57] Chris-Kin commented on #97
<img width="1028" alt="截屏2021-09-01 下午3 56 52" src="https://user-images.githubusercontent.com/10802869/131634369-f44abd9a-945a-408c-91f9-d3b514845b17.png">

[2021-09-14 19:27] torch2424 commented on #97
@Chris-Kin Sorry for the late reply! This got lost in my Github Notifications! 😯 That's an interesting bug, can you show how you compiled the Wasm module? I think you may have skipped using the transform, as mentioned in the Quick Start? https://github.com/torch2424/as-bind#quick-start

[2021-09-24 20:48] mathe42 opened #98 "feature request: generate typescript definiton for module"
When using AsseblyScript just with the Loader I can have full type support as explained here: https://www.assemblyscript.org/loader.html#typescript-definitions

I want the same when useing as-bind

Or is there a easy way to do this that mised?

[2021-09-24 21:00] torch2424 commented on #98
Hello! Thank you for the issue! 😄

So, unfortunately, as of right now it's not supported, and it would be a bit of work to have it supported as well. I know we have a really awesome JSON file that as-bind uses to determine types, so I assume we could generate some definitions from that. But, I wouldn't have the time to implement that any time soon.

I'd be happy to review any PRs though if you hav

[2021-09-24 21:01] mathe42 commented on #98
If you point me to where to start I will have a look at it.

[2021-09-24 21:49] mathe42 commented on #98
Never mind I found where to start. Will open a Draft PR in the next days.

[2021-09-29 06:56] mathe42 commented on #64
Got a similar example kind of working:

In Website:
[code]

Assemblyscript:
[code]

For this use case we would only have to inject a call function to assemblyscript. Currently not shure with function arguments... I will test some stuff.

[2021-09-29 07:19] mathe42 commented on #64
Solution inject for each set of argumenttypes and return type.

[2021-09-29 07:27] mathe42 commented on #64
I will have a deeper look into it (with modifications to the transform) when #100 is merged. (I will also look at classes then so we can get also all of stdLib to be handled properly.

[2021-09-29 16:16] mathe42 opened #102 "add support for exported classes"
I currently look at how we can support classes.

Example:

Assemblyscript
[code]

In JS:

[code]

This in combination with #64 would allow some cool things!

## FinalizationRegistry

I want to do the following to get full garbage collection:
[code]

This would allow full GarbageCollection for Browsers that support `FinalizationRegistry` (see https://caniuse.com/mdn-javascript_builtins_finalization

[2021-09-29 16:28] mathe42 commented on #102
Or instead of wrapping useing a proxy.

[2021-09-29 17:22] #56 closed

[2021-09-29 17:41] mathe42 commented on #102
Got a small working prototype (all manual but can be automated):

Assemblyscript
[code]

Host:
[code]

[2021-09-29 19:13] mathe42 commented on #102
@torch2424 If this looks good to you I will integrate it. :D

[2021-09-30 20:51] torch2424 commented on #102
@mathe42 Thank you very much for drafting up this implementation! 😄 Yeah! I like this approach and it makes sense to me, so let's go for it! 😄

[2022-01-23 15:18] munrocket opened #105 "[good first issue] Error handling for wrong JS glue."
Leaving this issue just for log purposes.
[code]
You can get this error really frequently if you wrote wrong JS glue for externref. All files in dist folder are minified so you can't understand what is going on.

[2022-09-06 23:56] Pyrolistical opened #111 "How does this compare to host bindings?"
I really don't understand the purpose of as-bind.

Is as-bind solving the same problem as https://www.assemblyscript.org/compiler.html#host-bindings or not? If it is solving the same problem, how does as-bind solve the problem better?

[2022-09-09 12:03] MaxGraey commented on #111
`as-bind` was created on top of the loader, back in the era when AssemblyScript didn't support automatically generated host-bindings. Now I would not recommend using as-bind.

[2022-09-09 16:05] #111 closed

[2022-11-16 18:27] jMoulis opened #118 "File as-bind.ts not found"
Hello,
I'm giving a try to webassembly, so I'm a total newbee.
My stack is react 18.2 (CRA) with assemblyscript (0.24.0) ans as-bind (0.8.2)
I tried to build with this command in my package.json
`asc assembly/index.ts --exportRuntime as-bind`
And i'm getting the following error:
`ERROR TS6054: File 'as-bind.ts' not found.`
And can't find anywhere any response on what I'm doing wrong.
Here is the c